.heading{
    margin-top:20px;
    margin-left: 50px;
    text-align: center

    
}
.header{
    background-color: #2B3643;
}
.logo{
    border-radius: 50%;
    width:80px;
    height:80px;
}
body{
    background-color: #DDE1E8;
}
.page{
    background-color: beige;
}
.agenda{
    width:20px;
}