.heading{
    margin-top:20px;
    margin-left: 50px;
    text-align: center

    
}
.header{
    background-color: #2B3643;
}
.logo{
    border-radius: 50%;
    width:80px;
    height:80px;
}
body{
    background-color: #DDE1E8;
}
.page{
    background-color: beige;
}
.agenda{
    width:20px;
}
.venue{
    position: relative;
    left:630px;
    top:-73px;

}
.time{
    position: relative;
    left:630px;
    top:-73px;

}
.calledby{
    position: relative;
    top:-140px;
}

.agenda-text{
    position: relative;
    top:-100px;
}
.boxes{
    position: relative;
    top:-100px;
}
.add-remove{
    position: relative;
    top:-100px;
}
.members{
    position: relative;
    top:-100px;
}



