{% extends "layout.html" %}
{% block content %}
    <h1 class="heading"> Minutes of Meeting Generator </h1>
    <div class="container page">
        
      <hr>
      <h1>Upload a file</h1>
      <form action="/uploader" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>

      <form action="">
          <p>Date: <input type="text" id="datepicker"></p>
          <br>
          <p>Agenda</p>
          <div id="agenda-box">
             

          </div>
        <br>
          
          <button id="add-agenda">Add more agendas</button>
          <button id="delete-agenda">delete agenda</button>



      </form>

      
      
      
      <hr>
            

        </div>
        <div class="container">

          <ul>
              {% for sentences in text %}
                <li>{{sentences}}</li>
                
              {% endfor %}
          </ul>
          
        </div>
        
        
    </div>
    

{% endblock content %}