{% extends "layout.html" %}
{% block content %}
    <h1 class="heading"> Minutes of Meeting Generator </h1>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

        <form action="" method="POST" enctype="multipart/form-data">
          
            <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile02" name="audio">
                      <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>

                    
         </form>
            

        </div>
        <div class="container">
          <p>{{text}}</p>
        </div>
        
        
    </div>
    

{% endblock content %}